@import url('https://fonts.googleapis.com/css?family=Skranji:400|Space+Mono');
h1 {
  font-family: 'Skranji', cursive;
  font-weight: 400;
  letter-spacing: 2px;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: 'Space Mono', monospace;
  letter-spacing: 0.3px;
}